In [1]:
print(pow(7,4))

2401

In [3]:
s = "Hi there Sam!"
print (s.split())

['Hi', 'there', 'Sam!']

In [4]:
planet = "Earth"
diameter = 12742
print ("The diameter of {} is {} kilometers ".format(planet,diameter))

The diameter of Earth is 12742 kilometers

In [6]:
1st = [1,2,[3,4],[5,[100,200,["hello"]],23,11],1,7]
print(1st[3][1][2])

SyntaxError: invalid syntax (1213123001.py, line 1)

In [8]:
d ={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [9]:
#tuple are immutable byut list are mutable
#tuples are denoted in () and list are denoted as []

In [13]:
user@domain.com

In [26]:
def domainGet(email):
    print("Your domain is:"+ email.split('@')[-1])
    
email = input("Please enter your mail: >")

Please enter your mail: >user@domain.com

In [28]:
[]  domainGet('user@domain.com')

SyntaxError: invalid syntax (2611897898.py, line 1)

In [25]:
def findDog(st):
    if 'dog' in st.lower():
            print("true")
    else:
            print("false")
            
st = "Is there a dog here?"
findDog(st)

true

In [29]:
findDog('Is there a dog here?')

true

In [33]:
value = 'This dog runs faster than the other dog dude!';

def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print (count)
        
countdogs(value)

1
2

In [34]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
        
    if speeding >80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [36]:
employee=[400,500,550,600,250]
sum=0
print ("salary of 1st person is",employee [0])
print ("salary of 2nd person is",employee [1])
print ("salary of 3rd person is",employee [2])
print ("salary of 4th person is",employee [3])
print ("salary of 5th person is",employee [4])
for x in employee:
    sum=sum+x
print("The total salary is",sum)

salary of 1st person is 400
salary of 2nd person is 500
salary of 3rd person is 550
salary of 4th person is 600
salary of 5th person is 250
The total salary is 2300

In [37]:
d1={'Empid':1,'Empname':"abc",'basicpay':10000}
d2={'Deptname':'cse','Deptid':2}

print({**d1, **d2})

{'Empid': 1, 'Empname': 'abc', 'basicpay': 10000, 'Deptname': 'cse', 'Deptid': 2}